@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.App {
  background-color: #f6f6f6;
  -webkit-tap-highlight-color: transparent;
}

.App a {
  text-decoration: none;
}

.App h1 {
  font: 800 40px 'Exo', sans-serif;
  color: #171717;
  margin: 0;
}

.App h2 {
  font: 700 30px 'Exo', sans-serif;
  color: #171717;
  margin: 0;
}

.App h3 {
  font: 600 20px 'Quicksand', sans-serif;
  color: #595959;
  margin: 0;
}

.App h4 {
  font: 500 18px/24px 'Roboto Slab', sans-serif;
  color: #787878;
  margin: 0;
}

.App p {
  font: 400 20px/30px 'Roboto', sans-serif;
  color: #595959;
  padding: 30px 0 0 0;
  margin: 0;
}

.App img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.App .button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

.App .button h3 {
  display: inline-block;
  overflow: hidden;
  font: 600 24px "Quicksand", sans-serif;
  color: #171717;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.App .button svg {
  fill: #171717;
  width: 30px;
  height: 30px;
}

.App .button .index-text {
  color: #787878;
}

.App .button-anim-enter {
  background-color: transparent;
}

.App .button-anim-enter-active {
  background-color: #bbd7cb;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App .button-anim-enter-done {
  background-color: #bbd7cb;
}

.App .button-anim-exit {
  background-color: #bbd7cb;
}

.App .button-anim-exit-active {
  background-color: transparent;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.App .button-anim-exit-done {
  background-color: transparent;
}

.App .button-icon {
  background-color: #bbd7cb;
}

.App .button-icon h3 {
  display: none;
  padding-left: 10px;
}

.App .button-icon-anim-enter {
  background-color: #bbd7cb;
}

.App .button-icon-anim-enter-active {
  background-color: #44b499;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App .button-icon-anim-enter-done {
  background-color: #44b499;
}

.App .button-icon-anim-exit {
  background-color: #44b499;
}

.App .button-icon-anim-exit-active {
  background-color: #bbd7cb;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.App .button-icon-anim-exit-done {
  background-color: #bbd7cb;
}

.App .i-button {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  margin-left: 0;
}

.App aside a {
  display: block;
  font: 24px 'Quicksand', sans-serif;
  color: #787878;
  margin-bottom: 5px;
}

.App span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.App nav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(246, 246, 246, 0.9);
  width: 100%;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.App nav .left-side {
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App nav .left-side a button {
  display: inline-block;
}

.App nav .left-side button {
  display: none;
}

.App nav .right-side {
  display: none;
}

.App nav .right-side-navbar {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App nav .right-side-navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App nav .right-side-navbar .button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .nav-home {
  position: fixed;
}

.App .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  border: 3px solid #e5e5e5;
  border-radius: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .wrapper a {
  font: 700 16px 'Quicksand', sans-serif;
  color: #44b499;
  margin: 0 5px 0 0;
}

.App .menu {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App .menu nav {
  overflow: auto;
  background-color: #f6f6f6;
  width: 65%;
  height: calc(100% - 6px - 80px);
  margin: 0;
  padding: 40px 20px;
  border: 3px solid #e5e5e5;
  border-left-style: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .menu nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .menu nav span a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.App .menu nav span a:first-child {
  margin-bottom: 40px;
}

.App .menu nav span .button svg {
  display: none;
}

.App .menu nav span .button h3 {
  display: block;
  padding-left: 0;
  white-space: normal;
}

.App .menu-anim-enter {
  background-color: transparent;
}

.App .menu-anim-enter nav {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.App .menu-anim-enter-active {
  background-color: rgba(246, 246, 246, 0.7);
  -webkit-transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.App .menu-anim-enter-active nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.App .menu-anim-enter-done {
  background-color: rgba(246, 246, 246, 0.7);
}

.App .menu-anim-enter-done nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.App .menu-anim-exit {
  background-color: rgba(246, 246, 246, 0.7);
}

.App .menu-anim-exit nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.App .menu-anim-exit-active {
  background-color: transparent;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}

.App .menu-anim-exit-active nav {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.App .menu-anim-exit-done {
  background-color: transparent;
}

.App .menu-anim-exit-done nav {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.App .home main {
  opacity: 0;
  padding: 70px 0 100px 0;
  margin: auto;
}

.App .home main div {
  position: relative;
  margin: 20px 0 20px 0;
}

.App .home main div h3 {
  background-color: #f6f6f6;
  font-family: 'Roboto';
  color: #c4c4c4;
  padding: 0 0 0 23px;
  font-weight: 700;
}

.App .home main div hr {
  border: 1.5px solid #e5e5e5;
}

.App .home main article {
  padding: 100px 20px 40px 20px;
  margin: 20px 0;
}

.App .home main article h2 {
  margin-top: 10px;
}

.App .home main article h4 {
  display: none;
}

.App .home .main-anim-enter {
  opacity: 1;
  height: 0;
  padding: 0;
}

.App .home .main-anim-enter .non-active-post {
  position: relative;
  opacity: 0;
}

.App .home .main-anim-enter .active-post {
  position: absolute;
  width: calc(100% - 6px - 40px);
  padding: 100px 20px 40px 20px;
  margin: 20px 0;
  top: 100px;
}

.App .home .main-anim-enter .active-post h4 {
  opacity: 0;
}

.App .home .main-anim-enter-active {
  opacity: 1;
  padding: 0;
}

.App .home .main-anim-enter-active .non-active-post {
  position: absolute;
  opacity: 0;
}

.App .home .main-anim-enter-active .active-post {
  position: absolute;
  width: calc(100% - 40px - 6px);
  padding: 103px 20px 60px 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  top: 0;
  -webkit-transition: padding,top .3s ease-in;
  transition: padding,top .3s ease-in;
}

.App .home .main-anim-enter-active .active-post a h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 10px 0 20px 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.App .home .main-anim-enter-active .active-post h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  margin: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.App .home .main-anim-enter-done {
  display: none;
  opacity: 0;
}

.App .home .main-anim-enter-done .non-active-post {
  opacity: 0;
  display: none;
}

.App .home .main-anim-enter-done .active-post {
  position: absolute;
  display: none;
}

.App .home .main-anim-exit {
  opacity: 0;
  display: block;
}

.App .home .main-anim-exit-active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.App .home .main-anim-exit-done {
  opacity: 1;
}

.App .post {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.App .post header {
  width: calc(100% - 6px - 40px);
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.App .post header h1 {
  margin: 10px 0 20px 0;
}

.App .post header aside {
  display: none;
}

.App .post main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0;
}

.App .post main article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
}

.App .post main article:last-of-type {
  padding-bottom: 100px;
}

.App .post main article h2 {
  padding: 20px 0 40px 0;
}

.App .post main article h2:first-of-type {
  padding: 0 0 40px 0;
}

.App .post main article p {
  padding: 0 0 40px 0;
}

.App .post main article a {
  display: block;
  font: italic 400 24px 'Roboto', sans-serif;
  color: #44b499;
  padding-bottom: 10px;
  margin: 0;
  text-decoration: underline;
  word-break: break-all;
}

.App .post main article a:last-child {
  padding-bottom: 0;
}

.App .post main article code {
  font: 500 20px/40px 'Roboto Mono', sans-serif;
  padding: 30px 0 0 0;
  margin: 0;
}

.App .post main article .button:first-of-type {
  padding: 10px;
}

.App .post main article .button:last-of-type {
  padding: 10px;
}

.App .post main article .post-link-section {
  padding-top: 20px;
}

.App .post main article .post-link-section h3 {
  margin-bottom: 10px;
}

.App .post main article .post-link-section a {
  word-break: normal;
  text-decoration: none;
}

.App .post main article .post-link-section a:first-of-type {
  padding-top: 0;
}

.App .post main article .last-post-link-section {
  display: none;
}

.App .post main aside {
  display: block;
  width: auto;
  margin-top: 0;
}

.App .post main aside h2 {
  margin: 60px 0 20px 0;
}

.App .post main aside section {
  display: block;
  padding: 40px 20px 0 20px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  margin: 0;
}

.App .post main aside section h2 {
  margin: 0 0 40px 0;
}

.App .post main aside section h3 {
  margin-bottom: 10px;
}

.App .post main aside section h3:last-child {
  margin-bottom: 0;
}

.App .post main aside section a {
  display: block;
  font: 20px 'Quicksand', sans-serif;
  color: #787878;
  margin-bottom: 5px;
  text-decoration: none;
}

.App .post main aside section a:last-child {
  padding-bottom: 0;
}

.App .post main aside section div {
  margin: 0;
}

.App .post main aside section:first-child h2 {
  margin: 0 0 5px 0;
}

.App .post main aside section:last-child {
  padding: 60px 20px 40px 20px;
}

.App .post main aside .post-link-section h3 {
  margin-bottom: 10px;
}

.App .post main aside .post-link-section a:first-of-type {
  word-break: normal;
  padding-top: 0;
}

.App .post-anim-enter .wrapper {
  opacity: 0;
}

.App .post-anim-enter main {
  opacity: 0;
}

.App .post-anim-entering .wrapper {
  opacity: 1;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.App .post-anim-entering main {
  opacity: 1;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.App .post-anim-entered main {
  opacity: 1;
}

.App .post-anim-exit .wrapper {
  opacity: 1;
}

.App .post-anim-exit main {
  opacity: 1;
}

.App .post-anim-exiting .wrapper {
  opacity: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.App .post-anim-exiting main {
  opacity: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.App .post-anim-exited .wrapper {
  opacity: 0;
}

.App .post-anim-exited main {
  opacity: 0;
}

.App .about {
  padding-top: 80px;
  padding-bottom: 160px;
  margin: auto 20px;
}

.App .about header {
  margin: 0 0 40px 0;
}

.App .about section h2 {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.App .about section h2:first-child {
  font-size: 30px;
  margin: 0;
}

.App .about section h3 {
  font-weight: 700;
  color: #787878;
}

.App .about section h3:first-of-type {
  font-weight: 600;
  color: #595959;
}

.App .about section a h3 {
  font-weight: 600;
  color: #363636;
}

.App .about section a h3:first-of-type {
  font-weight: 600;
  color: #363636;
}

.App .about span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .about span .button {
  position: relative;
  margin-left: 0;
  margin-right: 10px;
}

.App .about-anim-enter {
  opacity: 0;
}

.App .about-anim-enter-active {
  opacity: 1;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.App .about-anim-enter-done {
  opacity: 1;
}

.App .about-anim-exit {
  opacity: 1;
}

.App .about-anim-exit-active {
  opacity: 0;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.App .about-anim-exit-done {
  opacity: 0;
}

.App-dark {
  background-color: #171717;
}

.App-dark h1 {
  color: #f6f6f6;
}

.App-dark h2 {
  color: #f6f6f6;
}

.App-dark h3 {
  color: #c4c4c4;
}

.App-dark h4 {
  color: #c4c4c4;
}

.App-dark p {
  color: #c4c4c4;
}

.App-dark .button {
  background-color: #171717;
}

.App-dark .button h3 {
  color: #f6f6f6;
}

.App-dark .button svg {
  fill: #f6f6f6;
}

.App-dark .button .index-text {
  color: #787878;
}

.App-dark .button-anim-enter {
  background-color: transparent;
}

.App-dark .button-anim-enter-active {
  background-color: #363636;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App-dark .button-anim-enter-done {
  background-color: #363636;
}

.App-dark .button-anim-exit {
  background-color: #363636;
}

.App-dark .button-anim-exit-active {
  background-color: transparent;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.App-dark .button-anim-exit-done {
  background-color: transparent;
}

.App-dark .button-icon {
  background-color: #363636;
}

.App-dark .button-icon-anim-enter {
  background-color: #363636;
}

.App-dark .button-icon-anim-enter-active {
  background-color: #595959;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App-dark .button-icon-anim-enter-done {
  background-color: #595959;
}

.App-dark .button-icon-anim-exit {
  background-color: #595959;
}

.App-dark .button-icon-anim-exit-active {
  background-color: #363636;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.App-dark .button-icon-anim-exit-done {
  background-color: #363636;
}

.App-dark .i-button svg {
  fill: #171717;
}

.App-dark section a {
  color: #6bd2a1;
}

.App-dark section code {
  color: #c4c4c4;
}

.App-dark nav {
  background-color: rgba(23, 23, 23, 0.7);
}

.App-dark .wrapper {
  background-color: #171717;
  border-color: #363636;
}

.App-dark .wrapper a {
  color: #6bd2a1;
}

.App-dark .menu {
  background-color: rgba(23, 23, 23, 0.7);
}

.App-dark .menu-anim-enter {
  background-color: transparent;
}

.App-dark .menu-anim-enter-active {
  background-color: rgba(23, 23, 23, 0.7);
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App-dark .menu-anim-enter-done {
  background-color: rgba(23, 23, 23, 0.7);
}

.App-dark .menu-anim-exit {
  background-color: rgba(23, 23, 23, 0.7);
}

.App-dark .menu-anim-exit-active {
  background-color: transparent;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.App-dark .menu-anim-exit-done {
  background-color: transparent;
}

.App-dark .menu nav {
  background-color: #171717;
  border-color: #363636;
}

.App-dark .home main div h3 {
  color: #c4c4c4;
  background-color: #171717;
}

.App-dark .home main div hr {
  border-color: #363636;
}

.App-dark .about section h3 {
  color: #c4c4c4;
}

.App-dark .about section h3:first-of-type {
  color: #c4c4c4;
}

.App-dark .about section a h3 {
  color: #f6f6f6;
}

.App-dark .about section a h3:first-of-type {
  color: #f6f6f6;
}

@media (min-width: 680px) {
  .App h1 {
    margin: 0;
    font-size: 50px;
  }
  .App h2 {
    font-size: 40px;
    margin: 0;
  }
  .App h3 {
    font-size: 24px;
  }
  .App p {
    font-size: 28px;
    line-height: 45px;
    padding: 40px 0 0 0;
    margin: 0;
  }
  .App img {
    margin: 40px auto 0 auto;
  }
  .App .button {
    padding: 10px;
    margin-left: 0;
    margin-right: 10px;
  }
  .App .button h3 {
    color: #171717;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .App .button svg {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
  }
  .App .button-icon {
    padding-left: 40px;
    height: 50px;
    width: calc(50px - 50px);
  }
  .App .button-icon-anim-enter {
    width: 50px;
  }
  .App .button-icon-anim-enter h3 {
    display: none;
    width: 0;
    opacity: 0.5;
  }
  .App .button-icon-anim-enter-active {
    background-color: #bbd7cb;
    width: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App .button-icon-anim-enter-active h3 {
    display: inline-block;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App .button-icon-anim-enter-done {
    background-color: #bbd7cb;
    width: 100%;
  }
  .App .button-icon-anim-enter-done h3 {
    display: inline-block;
  }
  .App .button-icon-anim-exit {
    background-color: #bbd7cb;
    width: 100%;
  }
  .App .button-icon-anim-exit h3 {
    display: inline-block;
    width: 100%;
    opacity: 1;
  }
  .App .button-icon-anim-exit-active {
    background-color: #bbd7cb;
    width: calc(50px - 50px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App .button-icon-anim-exit-active h3 {
    width: 0;
    opacity: 0.5;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App .button-icon-anim-exit-done h3 {
    display: none;
  }
  .App .i-button {
    display: none;
  }
  .App .i-button h3 {
    padding-left: 10px;
  }
  .App section {
    margin: 0 0 80px 0;
  }
  .App section a {
    margin: 0;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .App section code {
    margin: 0;
    padding: 40px 0 0 0;
    font-size: 30px;
  }
  .App nav {
    padding: 20px 0;
  }
  .App nav .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 40px);
    max-width: 680px;
    padding: 0 20px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App nav .nav-content span {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
  }
  .App nav .nav-content .left-side {
    margin-right: auto;
  }
  .App nav .nav-content .left-side button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .App nav .nav-content .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .App nav .nav-content .mobile-post {
    display: none;
  }
  .App .nav-post .nav-content {
    max-width: calc(95% - 160px - 6px + 40px);
  }
  .App .menu {
    display: none;
  }
  .App .wrapper a {
    margin: 0 5px 0 0;
    font-size: 24px;
  }
  .App .home main {
    width: calc(100% - 6px);
    max-width: calc(680px - 40px + 160px + 6px);
    padding: 120px 0;
    margin: auto;
  }
  .App .home main div h3 {
    padding: 20px 0 0 83px;
  }
  .App .home main article {
    width: auto;
    padding: 180px 80px 40px 80px;
    margin: 40px 0;
  }
  .App .home .main-anim {
    max-width: none;
  }
  .App .home .main-anim-enter .active-post {
    position: absolute;
    top: 200;
    width: calc(100% - 6px - 160px);
    padding: 100px 80px 40px 80px;
    margin: 20px 0;
  }
  .App .home .main-anim-enter .active-post h4 {
    opacity: 0;
  }
  .App .home .main-anim-enter-active {
    max-width: none;
  }
  .App .home .main-anim-enter-active .active-post {
    position: absolute;
    width: calc(95% - 6px - 160px);
    margin: 0 calc(2.5% - 3px);
    padding: 163px 80px 80px 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    top: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .home .main-anim-enter-active .active-post a h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 10px 0 20px 0;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .home .main-anim-enter-active .active-post h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    margin: 0;
    font-size: 24px;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .post {
    width: 95%;
    padding: 0 2.5%;
    margin: auto;
  }
  .App .post header {
    width: calc(100% - 160px - 6px);
    padding: 160px 80px 80px 80px;
    margin: 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .App .post header h4 {
    font-size: 24px;
  }
  .App .post header aside {
    display: none;
  }
  .App .post main {
    max-width: none;
    padding: 0;
  }
  .App .post main article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 80px;
  }
  .App .post main aside {
    display: block;
    width: auto;
    padding: 0 80px;
    margin-top: 0px;
  }
  .App .post main aside section {
    padding: 40px 0;
    margin: 0;
  }
  .App .post main aside section h2 {
    margin: 0 0 5px 0;
  }
  .App .post main aside section h3 {
    margin-bottom: 10px;
  }
  .App .post main aside section h3:last-child {
    margin-bottom: 0;
  }
  .App .post main aside section a {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
  }
  .App .post main aside section a:last-child {
    padding-bottom: 0;
  }
  .App .post main aside section div {
    padding-top: 35px;
  }
  .App .post main aside section:last-child {
    padding: 60px 0 80px 0;
  }
  .App .about {
    max-width: calc(100% - 160px - 6px);
    width: calc(680px - 40px + 6px);
    padding-top: 100px;
    padding-bottom: 160px;
    margin: auto;
  }
  .App .about header {
    margin: 0 0 80px 0;
  }
  .App .about section h2 {
    font-size: 30px;
    margin: 40px 0 10px 0;
  }
  .App .about section h2:first-child {
    font-size: 40px;
  }
  .App .about section h3 {
    font-size: 24px;
  }
  .App .about section span {
    margin: 30px 0 60px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App .about section span .button-icon {
    height: calc(50px - 20px);
  }
  .App .about section span .button-icon-anim-enter {
    width: calc(50px - 50px);
  }
  .App .about section span .button-icon-anim-enter-active {
    width: 110px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App .about section span .button-icon-anim-enter-done {
    width: 110px;
  }
  .App .about section span .button-icon-anim-exit {
    width: 110px;
  }
  .App .about section span .button-icon-anim-exit-active {
    width: calc(50px - 50px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App-dark .button h3 {
    color: #f6f6f6;
  }
  .App-dark .button-icon-anim-enter-active {
    background-color: #363636;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .App-dark .button-icon-anim-enter-done {
    background-color: #363636;
  }
  .App-dark .button-icon-anim-exit {
    background-color: #363636;
  }
  .App-dark .about section span .button h3 {
    color: #f6f6f6;
  }
}

@media (min-width: 1025px) {
  .App .home .main-anim-enter .active-post {
    position: absolute;
    top: 200;
    width: calc(100% - 6px - 160px);
    padding: 100px 80px 40px 80px;
    margin: 20px 0;
  }
  .App .home .main-anim-enter .active-post h4 {
    opacity: 0;
  }
  .App .home .main-anim-enter-active .active-post {
    position: absolute;
    width: calc(95% - 6px - 560px);
    margin: 0 calc(2.5% - 3px);
    padding: 183px 480px 80px 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    top: 0;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .home .main-anim-enter-active .active-post a h2 {
    font-size: 50px;
    font-weight: 800;
    margin: 10px 0 20px 0;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .home .main-anim-enter-active .active-post h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    margin: 0;
    font-size: 24px;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .App .post header {
    width: calc(100% - 560px - 6px);
    padding: 180px 480px 80px 80px;
    margin-bottom: 80px;
  }
  .App .post header aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: auto;
    right: 40px;
    bottom: -80px;
    width: calc(320px - 80px - 6px);
    height: calc(320px - 80px - 6px);
    padding: 40px;
    border-style: solid;
  }
  .App .post main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .App .post main article .last-post-link-section {
    display: block;
  }
  .App .post main aside {
    display: block;
    width: calc(320px - 80px);
    margin-top: 0;
  }
  .App .post main aside section {
    display: none;
    padding: 40px 0;
  }
  .App .post main aside section:last-child {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .App .post main aside h2 {
    margin: 0 0 10px 0;
  }
  .App .post-anim-enter header .wrapper {
    opacity: 0;
  }
  .App .post-anim-entering header .wrapper {
    opacity: 1;
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .App .post-anim-entered header .wrapper {
    opacity: 1;
  }
}
/*# sourceMappingURL=App.css.map */