@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.App-light {
  background-color: #f6f6f6;
}

.App-dark {
  background-color: #171717;
}

.App .header1 {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

.App .header1--light {
  color: #171717;
}

.App .header1--dark {
  color: #f6f6f6;
}

.App .header2 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

.App .header2--light {
  color: #171717;
}

.App .header2--dark {
  color: #f6f6f6;
}

.App .header3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

.App .header3--light {
  color: #595959;
}

.App .header3--dark {
  color: #c4c4c4;
}

.App .subheader1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .subheader1--light {
  color: #44b499;
}

.App .subheader1--dark {
  color: #6bd2a1;
}

.App .subheader2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .subheader2--light {
  color: #595959;
}

.App .subheader2--dark {
  color: #c4c4c4;
}

.App .body-text1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.App .body-text1--light {
  color: #595959;
}

.App .body-text1--dark {
  color: #c4c4c4;
}

.App .body-text1--bold {
  font-weight: 600;
}

.App .body-text1--command {
  border-radius: 10px;
  border-color: #595959;
}

.App .body-text2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.App .body-text2--light {
  color: #595959;
}

.App .body-text2--dark {
  color: #c4c4c4;
}

.App .body-text2--command {
  border-radius: 10px;
  border-color: #595959;
}

.App .body-text3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 10px;
}

.App .body-text3--light {
  color: #595959;
  border-color: #595959;
}

.App .body-text3--dark {
  color: #c4c4c4;
  border-color: #c4c4c4;
}

.App .index-text {
  font-family: 'Quicksand', sans-serif;
  color: #787878;
}

.App .index-text--regular {
  font-weight: 600;
}

.App .index-text--bold {
  font-weight: 700;
}

.App .link-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.App .link-text--light {
  color: #44b499;
}

.App .link-text--dark {
  color: #6bd2a1;
}

.App .code-text {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
}

.App .code-text--light {
  color: #595959;
}

.App .code-text--dark {
  color: #c4c4c4;
}

.App .code-text--green-light {
  color: #44b499;
}

.App .code-text--green-dark {
  color: #6bd2a1;
}

.App .code-text--yellow-light {
  color: #fbcb50;
}

.App .code-text--yellow-dark {
  color: #fff48e;
}

.App .code-text--red-light {
  color: #f46161;
}

.App .code-text--red-dark {
  color: #fca28f;
}

.App .code-text--blue-light {
  color: #5e6eff;
}

.App .code-text--blue-dark {
  color: #96adff;
}

.App .button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: #f6f6f6;
}

.App .button .icon--light {
  fill: #363636;
}

.App .button .icon--dark {
  fill: #f6f6f6;
}

.App .button .button-text {
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .button .button-text--light {
  color: #171717;
}

.App .button .button-text--dark {
  color: #f6f6f6;
}

.App .button:hover {
  background-color: #e5e5e5;
}

.App .button:hover .button-text {
  display: inline-block;
}

.App .i-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 40px;
  border-width: 3px;
}

.App .i-button--light {
  border-color: #e5e5e5;
}

.App .i-button--dark {
  border-color: #363636;
}

.App .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .nav-m {
  position: absolute;
  border-radius: 40px;
  border-width: 3px;
  height: 100vh;
  width: 70vw;
}

.App .nav-m--light {
  background-color: #f6f6f6;
  border-color: #e5e5e5;
}

.App .nav-m--dark {
  background-color: #171717;
  border-color: #363636;
}

.App .wraper {
  border-radius: 40px;
  border-width: 3px;
}

.App .wraper--light {
  border-color: #e5e5e5;
}

.App .wraper--dark {
  border-color: #363636;
}
/*# sourceMappingURL=App.css.map */