@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$white: #f6f6f6;
$light-grey1: #e5e5e5;
$light-grey2: #c4c4c4;
$dark-grey1: #787878;
$dark-grey2: #595959;
$black1: #363636;
$black2: #171717;

$white-opaque: rgba(246, 246, 246, 0.7);
$black-opaque: rgba(23, 23, 23, 0.7);

$green1: #44b499;
$green2: #6bd2a1; 
$blue1: #5e6eff;
$blue2: #96adff;
$red1: #f46161;
$red2: #fca28f;
$yellow1: #fbcb50;
$yellow2: #fff48e;

.App{
  background-color: $white;
  -webkit-tap-highlight-color: transparent;

  //text
  a{
    text-decoration: none;
  }
  h2{
    font: 700 30px 'Exo', sans-serif;
    color: $black2;
    margin: 0;
  }
  h3{
    font: 600 14px 'Quicksand', sans-serif;
    color: $dark-grey2;
    margin: 0;
  }
  p{
    font: 400 20px/30px 'Roboto', sans-serif;
    color: $dark-grey2;
    padding: 30px 0 0 0;
    margin: 0;
  }

  //image
  img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin: 20px auto 0 auto;
  }

  //buttons
  .button{
    position: relative;
    display: inline-flex;
    cursor: pointer;
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    
    h3{
      display: inline-block;
      overflow: hidden;
      font: 600 24px "Quicksand", sans-serif;
      color: $black2;
      padding: 0;
      margin: 0;
      white-space: nowrap;
    }
    svg{
      fill: $black2;
      width: 30px;
      height: 30px;
    }
    .index-text{
      color: $dark-grey1;
    }
    &-anim-enter{
      background-color: transparent;
    }
    &-anim-enter-active{
      background-color: $light-grey1;
      transition: background-color .25s;
    }
    &-anim-enter-done{
      background-color: $light-grey1;
    }
    &-anim-exit{
      background-color: $light-grey1;
    }
    &-anim-exit-active{
      background-color: transparent;
      transition: background-color 1s;
    }
    &-anim-exit-done{
      background-color: transparent;
    }
  }
  .button-icon{
    h3{
      display: none;
      padding-left: 10px;
    }
    &-anim-enter{
      background-color: transparent;
      width: 50px;
      
      h3{
        display: none;
        width: 0px;
        padding-left: 0;
        opacity: 0.5;
      }
      svg{
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
    &-anim-enter-active{
      background-color: $light-grey1;
      width: 100%;
      
      h3{
        display: inline-block;
        width: calc(100% - 30px);
        padding-left: 10px;
        margin-left: 30px;
        opacity: 1;
        
        transition: all 1s;
      }
      transition: all 1s;
    }
    &-anim-enter-done{
      background-color: $light-grey1;
      
      h3{
        display: inline-block;
        margin-left: 30px;
      }
      svg{
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
    &-anim-exit{
      background-color: $light-grey1;
      width: 100%;
      
      h3{
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        margin-left: 30px;
        opacity: 1;
      }
      svg{
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
    &-anim-exit-active{
      background-color: transparent;
      width: 50px;
      
      h3{
        display: inline-block;
        width: 0;
        padding-left: 10px;
        margin-left: 30px;
        margin-right: auto;
        opacity: 0.5;
        transition: all 1s;
      }
      transition: all 1s;
    }
    &-anim-exit-done{
      background-color: transparent;
      
      h3{
        display: none;
      }
    }
  }
  .i-button{
    z-index: 1;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: $light-grey1;
    padding: 20px;
    margin-left: 0;
    
    &-anim-enter{
      background-color: $light-grey1;
    }
    &-anim-enter-active{
      background-color: $light-grey2;
      transition: background-color .25s;
    }
    &-anim-enter-done{
      background-color: $light-grey2;
    }
    &-anim-exit{
      background-color: $light-grey2;
    }
    &-anim-exit-active{
      background-color: $light-grey1;
      transition: background-color 1s;
    }
    &-anim-exit-done{
      background-color: $light-grey1;
    }
    svg{
      fill: $black2;
    }
  }

  //container
  section{
    margin: 0 0 40px 0;

    a{
      display: block;
      font: italic 400 20px 'Roboto', sans-serif;
      color: $green1;
      padding-bottom: 10px;
      margin: 0;
      text-decoration: underline;
      word-break: break-all;

      &:first-of-type{
        padding-top: 30px;
      }
      &:last-child{
        padding-bottom: 80px;
      }
    }
    .code-text{
      font: 500 20px/40px 'Roboto Mono', sans-serif;
      padding: 30px 0 0 0;
      margin: 0;
      
      &-normal{
        color: $dark-grey2;
      }
      &-green{
        color: $green1;
      }
      &-yellow{
        color: $yellow1;
      }
      &-red{
        color: $red1;
      }
      &-blue{
        color: $blue1;
      }
    }
    .button{
      &:first-of-type{
        padding: 10px;
      }
      &:last-of-type{
        padding: 10px;
      }
    }
  }
  aside a{
    display: block;
    font: 24px 'Quicksand', sans-serif;
    color: $dark-grey1;
    margin-bottom: 5px;
  }
  span{
    display: flex;
  }
  nav{
    display: flex;
    background-color: $white;
    padding: 10px 0;
    margin: auto;
    align-items: center;
    
    h1{
      font: 800 40px 'Exo', sans-serif;
      color: $black2;
      margin: 0;
    }
    .left-side{
      margin-right: auto;
      align-items: center;
      
      a button{
        display: inline-block;
      }
      button{
        display: none;
      }
    }
    .right-side{
      display: none;
    }
    .right-side-navbar{
      justify-content: flex-end;

      a{
        display: flex;
        justify-content: flex-end;
      }
      .button{
        justify-content: flex-end;
      }
    }
  }
  .wrapper{
    display: flex;
    position: relative;
    background-color: $white;
    border: 3px solid $light-grey1; 
    border-radius: 40px;
    flex-direction: column;
    justify-content: flex-end;

    a{
      font: 600 14px 'Quicksand', sans-serif;
      color: $green1;
      margin: 0 5px 0 0;
    }
  }
  .menu{
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &-anim-enter{
      background-color: transparent;

      nav{
        opacity: 0.5;
        transform: translate(-60%, 0);
      }
    }
    &-anim-enter-active{
      background-color: $white-opaque;
      transition: background-color .25s;

      nav{
        opacity: 1;
        transform: translate(0, 0);
        transition: all .25s;
      }
    }
    &-anim-enter-done{
      background-color: $white-opaque;

      nav{
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    &-anim-exit{
      background-color: $white-opaque;
      
      nav{
        opacity: 1;
        transform: translate(0, 0);
      }
    }
    &-anim-exit-active{
      background-color: transparent;
      transition: background-color .25s;

      nav{
        opacity: 0;
        transform: translate(-60%, 0);
        transition: all .25s;
      }
    }
    &-anim-exit-done{
      background-color: transparent;

      nav{
        opacity: 0;
        transform: translate(-60%, 0);
      }
    }
    nav{
      overflow: auto;
      width: 65%;
      height: calc(100% - 6px - 80px);
      margin: 0;
      padding: 40px 20px;
      border: 3px solid $light-grey1;
      border-radius: 40px;
      align-items: flex-start;
      flex-direction: column;

      span{
        display: flex;
        margin: auto 0;
        flex-direction: column;
        justify-content: center;
        
        a{
          justify-content: flex-start;

          &:first-child{
            margin-bottom: 40px;
          }
        }
        .button{
          svg{
            display: none;
          }
          h3{
            display: block;
            padding-left: 0;
          }
        }
        .wrapper{
          width: calc(100% - 6px - 80px);
          padding: 40px;
          margin: 20px calc(-20px - 3px);
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

  //screens
  .home main{
    margin: auto;

    article{
      width: calc(100% - 6px - 80px);
      height: calc(280px - 80px);
      padding: 40px;
      margin: 40px 0;
    }
  }
  .post{
    header{
      width: calc(100% - 6px - 80px);
      height: calc(280px - 80px - 6px);
      padding: 40px;
      margin: 0 auto 40px auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      
      aside{
        display: none;
      }
    }
    main{
      display: flex;
      flex-direction: column;
      
      article{
        flex: 1;
        padding: 0 40px;
      }
      aside{
        display: none;
      }
    }
  }
  .about{
    padding-bottom: 160px;
    margin: auto 40px;
    
    header{
      margin: 0 0 40px 0;
    }
    section{
      h2{
        font-size: 20px;
        margin: 20px 0 5px 0;
      }
    }
    span{
      width: fit-content;
      margin: 20px 0 0 0;
      align-items: center;
      
      .button{
        position: relative;
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .wrapper{
      padding: 40px;
      margin: 0 -40px;

      h2{
        font-size: 30px;
        margin: 0;
      }
    }
  }
}

.App-dark{
  background-color: $black2;

  //text
  h2{
    color: $white;
  }
  h3{
    color: $light-grey2;
  }
  p{
    color: $light-grey2;
  }
  
  //buttons
  .button{
    background-color: $black2;

    h3{
      color: $white;
    }
    svg{
      fill: $white;
    }
    .index-text{
      color: $dark-grey1;
    }
    &-anim-enter {
      background-color: transparent;
    }
    &-anim-enter-active {
      background-color: $black1;
      transition: background-color .25s;
    }
    &-anim-enter-done {
      background-color: $black1;
    }
    &-anim-exit {
      background-color: $black1;
    }
    &-anim-exit-active {
      background-color: transparent;
      transition: background-color 1s;
    }
    &-anim-exit-done {
      background-color: transparent;
    }
  }
  .button-icon{
    &-anim-enter {
      background-color: transparent;
    }
    &-anim-enter-active {
      background-color: $black1;
    }
    &-anim-enter-done{
      background-color: $black1;
    }
    &-anim-exit {
      background-color: $black1;
    }
    &-anim-exit-active {
      background-color: transparent;
    }
    &-anim-exit-done {
      background-color: transparent;
    }
  }
  .i-button{
    background-color: $black1;

    &-anim-enter {
      background-color: $black1;
    }
    &-anim-enter-active {
      background-color: $dark-grey2;
      transition: background-color .25s;
    }
    &-anim-enter-done {
      background-color: $dark-grey2;
    }
    &-anim-exit {
      background-color: $dark-grey2;
    }
    &-anim-exit-active {
      background-color: $black1;
      transition: background-color 1s;
    }
    &-anim-exit-done {
      background-color: $black1;
    }
    svg{
      fill: $black2;
    }
  }

  //container
  section{
    a{
      color: $green2;
    }
    .code-text{
      &-normal{
        color: $light-grey2;
      }
      &-green{
        color: $green2;
      }
      &-yellow{
        color: $yellow2;
      }
      &-red{
        color: $red2;
      }
      &-blue{
        color: $blue2;
      }
    }
  }
  nav{
    background-color: $black2;
    
    h1{
      color: $white;
    }
  }
  .wrapper{
    background-color: $black2;
    border-color: $black1;

    a{
      color: $green2;
    }
  }
  .menu{
    background-color: $black-opaque;

    &-anim-enter{
      background-color: transparent;
    }
    &-anim-enter-active{
      background-color: $black-opaque;
      transition: background-color .25s;
    }
    &-anim-enter-done{
      background-color: $black-opaque;
    }
    &-anim-exit{
      background-color: $black-opaque;
    }
    &-anim-exit-active{
      background-color: transparent;
      transition: background-color .25s;
    }
    &-anim-exit-done{
      background-color: transparent;
    }
    nav{
      border-color: $black1;
    }
  }
}

//680px//940px
@media (min-width: 680px) {
  .App{
    //text
    h2{
      font-size: 40px;
      margin: 0;
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 30px;
      line-height: 45px;
      padding: 40px 0 0 0;
      margin: 0;
    }

    //image
    img{
      margin: 40px auto 0 auto;
    }

    //buttons
    .button{
      padding: 10px;
      margin-left: 10px;

      svg{
        width: 30px;
        height: 30px;
      }
    }
    .i-button{
      display: none;

      h3{
        padding-left: 10px;
      }
    }

    //container
    section{
      margin: 0 0 80px 0;

      a{
        margin: 0;
        padding-bottom: 10px;
        font-size: 30px;
        
        &:first-of-type{
          padding-top: 40px;
        }
        &:last-child{
          padding-bottom: 0;
        }
      }
      .code-text{
        margin: 0;
        padding: 40px 0 0 0;
        font-size: 30px;
      }
    }
    nav{
      margin: auto;
      padding: 20px;
      width: calc(100% - 40px);
      max-width: 680px;
      
      h1{
        margin: 0;
        font-size: 50px;
      }
      .left-side{
        margin-right: auto;
        
        button{
          display: inline-flex;
        }
      }
      .right-side{
        display: flex;
      }
      .mobile-post{
        display: none;
      }
    }
    .nav-post{
      max-width: calc(95% - 160px - 6px + 40px);
    }
    .menu{
      display: none;
    }
    .wrapper a{
      margin: 0 5px 0 0;
      font-size: 24px;
    }

    //screens
    .home{
      main{
        width: calc(100% - 6px);
        max-width: calc(680px - 40px + 160px + 6px);
        margin: auto;

        article{
          margin: 40px 0;
          height: calc(320px - 80px);
          width: auto;
          padding: 40px 80px;
        }
      }
    }
    .post{
      width: 95%;
      margin: auto;

      header{
        margin: 0 auto 80px auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: calc(100% - 160px - 6px);
        padding: 80px 80px 100px 80px;
        height: calc(320px - 180px - 6px);
  
        aside{
          display: block;
          position: absolute;
          width: calc(100% - 80px - 80px - 6px);
          left: 37px;
          bottom: -110px;
          padding: 40px;
        }
      }
      main{
        flex-direction: column-reverse;

        article{
          flex: 1;
          padding: 0 80px;
        }
        aside{
          display: block;
          width: calc(320px - 80px - 6px);
          margin-top: 120px;
          padding: 0 80px 80px 80px;

          h2{
            margin-bottom: 40px; 
          }
        }
      }
    }
    .about{
      max-width: calc(100% - 160px - 6px);
      width: calc(680px - 40px + 6px);
      padding-bottom: 160px;
      margin: auto;

      header{
        margin: 0 0 80px 0;
      }
      section{
        h2{
          font-size: 30px;
          margin: 40px 0 10px 0;
        }
        h3{
          font-size: 24px;
        }
      }
      span{
        margin: 40px 0 0 0;
        align-items: center;
  
        .button{
          margin-left: 0;
          margin-right: 10px;
        }
      }
      .wrapper{
        margin: 0 calc(-80px - 3px);
        padding: 40px 80px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .App{
    //post
    .post{
      header{
        width: calc(100% - 560px - 6px);
        height: calc(320px - 80px - 6px);
        padding: 40px 480px 40px 80px;

        aside{
          display: flex;
          position: absolute;
          left: auto;
          right: 40px;
          bottom: -80px;
          width: calc(320px - 80px - 6px);
          height: calc(320px - 80px - 6px);
          padding: 40px;
          border-style: solid;
        }
      }
      main{
        flex-direction: row;

        aside{
          display: block;
          padding: 40px 86px 0 43px;
          margin-top: 0;

          h2{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}