@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.App .header1 {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

.App .header2 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

.App .header3 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
}

.App .subheader1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .subheader2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .body-text1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.App .body-text1--bold {
  font-weight: 600;
}

.App .body-text1--command {
  border-radius: 10px;
  border-color: #595959;
}

.App .body-text2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.App .body-text2--command {
  border-radius: 10px;
  border-color: #595959;
}

.App .body-text3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 10px;
}

.App .index-text {
  font-family: 'Quicksand', sans-serif;
  color: #787878;
}

.App .index-text--regular {
  font-weight: 600;
}

.App .index-text--bold {
  font-weight: 700;
}

.App .link-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.App .code-text {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
}

.App .button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.App .button:hover .button-text {
  display: inline-block;
}

.App .button .icon {
  fill: #171717;
}

.App .button .button-text {
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.App .button .button-text-activated {
  display: inline-block;
}

.App .i-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 40px;
  border-width: 3px;
}

.App .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .left-side {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .nav-m {
  position: absolute;
  border-radius: 40px;
  border-width: 3px;
  height: 100vh;
  width: 70vw;
}

.App span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .wraper {
  border-radius: 40px;
  border-width: 3px;
}

.App-light {
  background-color: #f6f6f6;
}

.App-light .header1 {
  color: #171717;
}

.App-light .header2 {
  color: #171717;
}

.App-light .header3 {
  color: #595959;
}

.App-light .subheader1 {
  color: #44b499;
}

.App-light .subheader2 {
  color: #595959;
}

.App-light .body-text1 {
  color: #595959;
}

.App-light .body-text2 {
  color: #595959;
}

.App-light .body-text3 {
  color: #595959;
  border-color: #595959;
}

.App-light .link-text {
  color: #44b499;
}

.App-light .code-text--normal {
  color: #595959;
}

.App-light .code-text--green {
  color: #44b499;
}

.App-light .code-text--yellow {
  color: #fbcb50;
}

.App-light .code-text--red {
  color: #f46161;
}

.App-light .code-text--blue {
  color: #5e6eff;
}

.App-light .button {
  background-color: #f6f6f6;
}

.App-light .button:hover {
  background-color: #e5e5e5;
}

.App-light .button .icon {
  fill: #363636;
}

.App-light .button .button-text {
  color: #171717;
}

.App-light .i-button {
  border-color: #e5e5e5;
}

.App-light .nav {
  background-color: #f6f6f6;
}

.App-light .nav-m {
  background-color: #f6f6f6;
  border-color: #e5e5e5;
}

.App-light .wraper {
  border-color: #e5e5e5;
}

.App-dark {
  background-color: #171717;
}

.App-dark .header1 {
  color: #f6f6f6;
}

.App-dark .header2 {
  color: #f6f6f6;
}

.App-dark .header3 {
  color: #c4c4c4;
}

.App-dark .subheader1 {
  color: #6bd2a1;
}

.App-dark .subheader2 {
  color: #c4c4c4;
}

.App-dark .body-text1 {
  color: #c4c4c4;
}

.App-dark .body-text2 {
  color: #c4c4c4;
}

.App-dark .body-text3 {
  color: #c4c4c4;
  border-color: #c4c4c4;
}

.App-dark .link-text {
  color: #6bd2a1;
}

.App-dark .code-text--normal {
  color: #c4c4c4;
}

.App-dark .code-text--green {
  color: #6bd2a1;
}

.App-dark .code-text--yellow {
  color: #fff48e;
}

.App-dark .code-text--red {
  color: #fca28f;
}

.App-dark .code-text--blue {
  color: #96adff;
}

.App-dark .button {
  background-color: #171717;
}

.App-dark .button:hover {
  background-color: #363636;
}

.App-dark .button .icon {
  fill: #f6f6f6;
}

.App-dark .button .button-text {
  color: #f6f6f6;
}

.App-dark .i-button {
  border-color: #363636;
}

.App-dark .nav {
  background-color: #171717;
}

.App-dark .nav-m {
  background-color: #171717;
  border-color: #363636;
}

.App-dark .wraper {
  border-color: #363636;
}

@media (min-width: 800px) {
  .App .header1 {
    margin: 0;
    font-size: 50px;
  }
  .App .button {
    margin-left: 10px;
    padding: 10px;
  }
  .App .button .icon {
    width: 30px;
  }
  .App .button .button-text {
    margin: 0;
    font-size: 24px;
    padding-left: 10px;
  }
  .App .button .button-text-activated {
    padding: 0;
  }
  .App .nav {
    margin: auto;
    width: 640px;
    padding: 40px 0;
  }
  .App .left-side {
    margin-right: auto;
  }
}
/*# sourceMappingURL=App.css.map */