@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$white: #f6f6f6;
$light-grey1: #e5e5e5;
$light-grey2: #c4c4c4;
$dark-grey1: #787878;
$dark-grey2: #595959;
$black1: #363636;
$black2: #171717;

$green1: #44b499;
$green2: #6bd2a1; 
$blue1: #5e6eff;
$blue2: #96adff;
$red1: #f46161;
$red2: #fca28f;
$yellow1: #fbcb50;
$yellow2: #fff48e;

.App{
  //text
  .header1{
    font-family: 'Exo', sans-serif;
    font-weight: 800;
  }
  .header2{
    font-family: 'Exo', sans-serif;
    font-weight: 700;
  }
  .header3{
    font-family: 'Exo', sans-serif;
    font-weight: 700;
  }
  .header4{
    font-family: 'Exo', sans-serif;
    font-weight: 700;
  }
  .subheader1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
  }
  .subheader2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
  }
  .body-text1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  
    &--bold{
      font-weight: 600;
    }
    &--command{
      border-radius: 10px;
      border-style: solid;
      border-color: $dark-grey2;
    }
  }
  .body-text2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    &--command{
      border-radius: 10px;
      border-style: solid;
      border-color: $dark-grey2;
    }
  }
  .body-text3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-radius: 10px;
  }
  .index-text{
    display: block;
    font-family: 'Quicksand', sans-serif;
    
    color: $dark-grey1;
    
    &--regular{
      font-weight: 600;
    }
    &--bold{
      font-weight: 700;
    }
  }
  .link-text{
    display: block;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    word-break: break-all;
    overflow: hidden;
  }
  .code-text{
    font-family: 'Roboto Mono', sans-serif;
    line-height: 60px;
    font-weight: 500;
  }
  a{
    text-decoration: none;
  }
  //buttons
  .button{
    cursor: pointer;
    display: inline-flex;
    width: fit-content;
    border: none;
    border-radius: 10px;

    &:hover{
      .button-text{
        display: inline-block;
      }
    }
    .button-text{
      &-activated{
        display: inline-block;
      }
      display: none;
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
    }
  }
  .i-button{
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 40px;
    border-width: 3px;
  }
  //container
  span{
    display: flex;
  }
  .wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 40px;
    border-width: 3px;
    border-style: solid;
  }

  nav{
    display: flex;
    align-items: center;

    .left-side{
      align-items: center;
    }
  }
  .nav-m{
    position: absolute;
    border-radius: 40px;
    border-width: 3px;
    height: 100vh;
    width: 70vw;
  }
  .post{
    main{
      display: flex;
    }
  }
}

.App-light{
  background-color: $white;

  //text
  .header1{
    color: $black2;
  }
  .header2{
    color: $black2;
  }
  .header3{
    color: $dark-grey2;
  }
  .header4{
    color: $black2;
  }
  .subheader1{
    color: $green1;
  }
  .subheader2{
    color: $dark-grey2;
  }
  .body-text1{
    color: $dark-grey2;
  }
  .body-text2{
    color: $dark-grey2;
  }
  .body-text3{
    color: $dark-grey2;
    border-color: $dark-grey2;
  }
  .link-text{
    color: $green1;
  }
  .code-text{
    &-normal{
      color: $dark-grey2;
    }
    &-green{
      color: $green1;
    }
    &-yellow{
      color: $yellow1;
    }
    &-red{
      color: $red1;
    }
    &-blue{
      color: $blue1;
    }
  }
  //buttons
  .button{
    background-color: $white;

    &:hover{
      background-color: $light-grey1;
    }
    .icon{
      fill: $black2;
    }
    .button-text{
      color: $black2;
    }
  }
  .i-button{
    border-color: $light-grey1;
  }
  //container
  nav{
    background-color: $white;
  }
  .nav-m{
    background-color: $white;
    border-color: $light-grey1;
  }
  .wrapper{
    background-color: $white;
    border-color: $light-grey1;
  }
}

.App-dark{
  background-color: $black2;

  //text
  .header1{
    color: $white;
  }
  .header2{
    color: $white;
  }
  .header3{
    color: $light-grey2;
  }
  .header4{
    color: $white;
  }
  .subheader1{
    color: $green2;
  }
  .subheader2{
    color: $light-grey2;
  }
  .body-text1{
    color: $light-grey2;
  }
  .body-text2{
    color: $light-grey2;
  }
  .body-text3{
    color: $light-grey2;
    border-color: $light-grey2;
  }
  .link-text{
    color: $green2;
  }
  .code-text{
    &-normal{
      color: $light-grey2;
    }
    &-green{
      color: $green2;
    }
    &-yellow{
      color: $yellow2;
    }
    &-red{
      color: $red2;
    }
    &-blue{
      color: $blue2;
    }
  }
  //buttons
  .button{
    background-color: $black2;

    &:hover{
      background-color: $black1;
    }
    .icon{
      fill: $white;
    }
    .button-text{
      color: $white;
    }
  }
  .i-button{
    border-color: $black1;
  }
  //container
  nav{
    background-color: $black2;
  }
  .nav-m{
    background-color: $black2;
    border-color: $black1;
  }
  .wrapper{
    background-color: $black2;
    border-color: $black1;
  }
}

@media (min-width: 800px) {
  .App{
    //text
    .header1{
      margin: 0;
      font-size: 50px;
    }
    .header2{
      margin: 0;
      font-size: 40px;
    }
    .header3{
      margin: 0 0 10px 0;
      font-size: 30px;
    }
    .header4{
      margin: 40px 0 10px 0;
      font-size: 30px;
    }
    .subheader1{
      margin: 0 5px 0 0;
      font-size: 24px;
    }
    .subheader2{
      margin: 0;
      font-size: 24px;
    }
    .body-text1{
      margin: 0;
      padding: 40px 0 0 0;
      font-size: 30px;
      line-height: 45px;
    }
    .index-text{
      margin-bottom: 5px;
      font-size: 24px;
    }
    .link-text{
      margin: 0;
      padding-bottom: 10px;
      font-size: 30px;
    }
    .code-text{
      margin: 0;
      padding: 40px 0 0 0;
      font-size: 30px;
    }
    //buttons
    .button{
      margin-left: 10px;
      padding: 10px;

      .icon{
        width: 30px;
      }
      .button-text{
        &-activated{
          padding: 0;
        }
        margin: 0;
        font-size: 24px;
        padding-left: 10px;
      }
    }
    //container
    section{
      margin: 0 0 80px 0;

      .link-text{
        &:first-of-type{
          padding-top: 40px;
        }
        &:last-child{
          padding-bottom: 0;
        }
      }
    }

    //nav
    nav{
      margin: auto;
      padding: 40px 0;
      width: 680px;
      
      .left-side{
        margin-right: auto;
      }
    }
    .nav-post{
      width: calc(95% - 160px - 6px + 40px);
    }
    //home
    .home{
      main{
        width: calc(680px - 40px + 160px + 6px);
        margin: auto;

        article{
          margin: 40px 0;
          width: calc(800px - 160px);
          height: calc(320px - 80px);
          padding: 40px 80px;
        }
      }
    }
    //post
    .post{
      width: 95%;
      margin: auto;

      header{
        margin: 0 auto 80px auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: calc(100% - 560px - 6px);
        height: calc(320px - 80px - 6px);
        padding: 40px 480px 40px 80px;
  
        aside{
          position: absolute;
          right: 40px;
          bottom: -80px;
          width: calc(320px - 80px - 6px);
          height: calc(320px - 80px - 6px);
          padding: 40px;
        }
      }
      article{
        flex: 1;
        padding: 0 80px;
      }
      aside{
        padding: 40px 86px 0 43px;
        width: calc(320px - 80px - 6px);
      }
    }
    //about
    .about{
      width: calc(680px + 160px - 40px + 6px);
      width: calc(680px - 40px + 6px);
      padding-bottom: 160px;
      margin: auto;

      header{
        margin: 0 0 80px 0;
      }
      .wrapper{
        margin: 0 calc(-80px - 3px);
        padding: 40px 80px;
      }
      .socials{
        margin: 40px 0 0 0;
        align-items: center;
  
        .button{
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }
  }
}